# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      day: monday
      interval: weekly
    groups:
      go-dependencies:
        patterns:
          - "*"
    ignore:
      # Ignore gohlml updates as this will require manual testing
      - dependency-name: github.com/HabanaAI/gohlml
      # Ignore go-nvml updates as this will require manual testing
      - dependency-name: github.com/NVIDIA/go-nvml
      - dependency-name: k8s.io/*
        update-types: [version-update:semver-major, version-update:semver-minor]
  - package-ecosystem: github-actions
    directory: /
    schedule:
      day: monday
      interval: weekly
    groups:
      github-actions:
        patterns:
          - "*"
