*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# git merge files
*.orig
*.patch
*.rej

# compiled binary
/_output
/exporter

# tensorflow-related build
lib/tensorflow/include/*
lib/tensorflow/lib/*
tmp

# test-bin
test-bin