CGROUP_METRICS: '*'
CPU_ARCH_OVERRIDE: ""
ENABLE_EBPF_CGROUPID: "true"
ENABLE_PROCESS_METRICS: "false"
ENABLE_QAT: "false"
EXPOSE_CGROUP_METRICS: "true"
EXPOSE_HW_COUNTER_METRICS: "true"
EXPOSE_IRQ_COUNTER_METRICS: "true"
EXPOSE_KUBELET_METRICS: "true"
KEPLER_NAMESPACE: kepler-operator
METRIC_PATH: /metrics
MODEL_CONFIG: ""
REDFISH_PROBE_INTERVAL_IN_SECONDS: "60"
REDFISH_SKIP_SSL_VERIFY: "true"
ENABLE_GPU: "true"
BIND_ADDRESS: "0.0.0.0:9103"
KEPLER_LOG_LEVEL: "1"
