[Unit]
Description=Kepler

[Service]
WorkingDirectory=/usr/bin/
EnvironmentFile=/etc/kepler/kepler.config
ExecStart=kepler
Restart=always
User=root
Type=notify
Delegate=yes
CPUAccounting=yes
BlockIOAccounting=yes
MemoryAccounting=yes
LimitNOFILE=1048576
TimeoutStartSec=2m

[Install]
WantedBy=multi-user.target