---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kepler-exporter
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: kepler-exporter
        securityContext:
          runAsUser: 2000
          runAsGroup: 2000
          privileged: true
          capabilities:
            add:
            # - BPF is only available in kernel 5.8+
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
          seLinuxOptions:
            level: 's0' 
