apiVersion: v1
kind: ConfigMap
metadata:
  name: kepler-cfm
  namespace: system
data:
  MAX_LOOKUP_RETRY: '1'
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kepler-exporter
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: kepler-exporter
        volumeMounts:
        - mountPath: /usr/src
          name: usr-src
      volumes:
      - name: usr-src
        hostPath:
          path: /usr/src
          type: Directory