remote:
  host: 192.168.124.28
  # ### defaults ###
  # port: 22
  # username: fedora
  # password: supersecret
  # pkey: ~/.ssh/id_rsa

metal:
  vm:
    pid: 2093543
    name: my-vm

prometheus:
  url: http://localhost:9090
  interval: 30s
  steps: 10s

query_path: ./query.json