log_level: warn # default

remote:
  host: 192.168.124.28
  # ### defaults ###
  port: 22
  username: fedora
  password: supersecret
  pkey: ~/.ssh/id_rsa

metal:
  vm:
    pid: 2093543

prometheus:
	job: 
		vm: vm  # default
		metal: metal  # default

  url: http://localhost:9090
  rate_interval: 20s  # default
  steps: 3s  # 4 x scrape-interval

validations_file: ./validations.yaml  # default
