name: c
# for c basic checks - it builds and is correctly formatted
on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jidicula/clang-format-action@v4.14.0
        with:
          clang-format-version: "17"
          check-path: bpf
          exclude-regex: ^bpf/include/.*
