name: local dev env validation
# for developer local environment script or test usage
on: # yamllint disable-line rule:truthy
  workflow_call:

jobs:
  local_env:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kube_provider: [kind]
    steps:
      - uses: actions/checkout@v4.1.1
      - name: local cluster set up
        run: make cluster-up
      - name: local container test
        run: make container_test
