name: local dev env validation
# for developer local environment script or test usage
on: # yamllint disable-line rule:truthy
  workflow_call:

permissions: read-all

jobs:
  local_env:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kube_provider: [kind]
    env:
      CTR_CMD: docker
    steps:
      - uses: actions/checkout@v4
      - name: local cluster set up
        run: make cluster-up
      - name: local container test
        run: make container_test
