name: base

on:
  workflow_call:
    inputs:
      pushImage:
        default: true
        type: boolean
    secrets:
      username:
        required: true
      password:
        required: true

jobs:
  baseimagebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Quay
        if: ${{ inputs.pushImage }}
        uses: docker/login-action@v3
        with:
            registry: quay.io/sustainable_computing_io
            username: ${{ secrets.username }}
            password: ${{ secrets.password }}
      - name: Build and push a base image for building Kepler with libbpf
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./build/Dockerfile.builder
          platforms: linux/amd64,linux/arm64,linux/s390x
          push: ${{ inputs.pushImage }}
          tags: quay.io/sustainable_computing_io/kepler_builder:ubi-9-libbpf-1.2.0
