name: image

on:
  workflow_call:
    secrets:
      username:
        required: true
      password:
        required: true

jobs:
  image_build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Quay
      uses: docker/login-action@v3
      with:
        registry: quay.io/sustainable_computing_io
        username: ${{ secrets.username }}
        password: ${{ secrets.password }}

    - name: Build and push kepler latest
      uses: docker/build-push-action@v5
      with:
          context: .
          platforms: linux/amd64
          push: true
          tags: quay.io/sustainable_computing_io/kepler:latest
          labels: latest
          file: build/Dockerfile

    - name: Build and push kepler latest (libbpf)
      uses: docker/build-push-action@v5
      with:
          context: .
          platforms: linux/amd64
          push: true
          tags: quay.io/sustainable_computing_io/kepler:latest-libbpf
          labels: latest-libbpf
          file: build/Dockerfile.libbpf.kepler