name: image

on:
  workflow_call:
    inputs:
      imageTag:
        default: 'latest'
        type: string
      pushImage:
        default: true
        type: boolean
    secrets:
      username:
        required: true
      password:
        required: true

jobs:
  image_build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Quay
      if: ${{ inputs.pushImage }}
      uses: docker/login-action@v3
      with:
        registry: quay.io/sustainable_computing_io
        username: ${{ secrets.username }}
        password: ${{ secrets.password }}

    - name: Build and push kepler latest (libbpf)
      uses: docker/build-push-action@v5
      with:
          context: .
          platforms: linux/amd64
          push: ${{ inputs.pushImage }}
          tags: quay.io/sustainable_computing_io/kepler:${{ inputs.imageTag }}
          labels: ${{ inputs.imageTag }}
          file: build/Dockerfile

    - name: Build and push kepler-validator to official group repo
      uses: docker/build-push-action@v5
      with:
          context: .
          platforms: linux/amd64
          push: ${{ inputs.pushImage }}
          tags: quay.io/sustainable_computing_io/kepler-validator:${{ inputs.imageTag }}
          labels: ${{ inputs.imageTag }}
          file: build/Dockerfile.kepler-validator

    - name: Generate SBOM
      uses: anchore/sbom-action@v0.15.8
      with:
        image: quay.io/sustainable_computing_io/kepler:${{ inputs.imageTag }}
        artifact-name: sbom-kepler-${{ inputs.imageTag }}.json
        output-file: ./sbom-kepler-${{ inputs.imageTag }}.spdx.json

    - name: save Kepler image SBOM as artifact
      uses: actions/upload-artifact@v4.3.0
      with:
          name: sbom-kepler-${{ inputs.imageTag }}.json
          path: sbom-kepler-${{ inputs.imageTag }}.json
          retention-days: 1
