name: Integration test

on:
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  integration_test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        kube_provider: [kind]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: use kepler action for kind cluster build
        uses: sustainable-computing-io/kepler-action@v0.0.0
        with:
          runningBranch: kind

      - name: simple test - deploy kepler
        run: make cluster-sync
        env:
            CLUSTER_PROVIDER: ${{matrix.kube_provider}}
            IMAGE_REPO: "localhost:5001"
            IMAGE_TAG: "devel"
            CTR_CMD: docker
            CI_ONLY: "true"

      - name: test if kepler is still alive
        run: |
          sleep 60
          kubectl logs $(kubectl -n kepler get pods -o name) -n kepler
          kubectl get all -n kepler
      
      - name: run integration_test
        run: |
          docker ps -a
          mkdir -p /tmp/.kube
          kind get kubeconfig --name=kind > /tmp/.kube/config
          while true; do kubectl port-forward --address localhost -n kepler service/kepler-exporter 9102:9102; done &
          kubectl logs -n kepler daemonset/kepler-exporter
          kubectl get pods -n kepler -o yaml
          go test ./e2e/... --tags bcc -v --race --bench=. -cover --count=1 --vet=all
        env:
            kepler_address: localhost:9102
