name: Integration test

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  integration_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kube_provider: [kind]
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-go@main
        with:
          go-version: 1.18
      - name: install kubectl
        run: curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
      - name: start local k8s cluster
        run: make cluster-up
        env:
            CLUSTER_PROVIDER: ${{matrix.kube_provider}}
      - name: Checkout kube-operator repo
        uses: actions/checkout@v3
        with:
          repository: prometheus-operator/kube-prometheus
          path: kube-prometheus
      - name: deploy kube operator
        run:  ls && kubectl create -f manifests/setup && until kubectl get servicemonitors --all-namespaces ; do date; sleep 1; echo ""; done && kubectl create -f manifests/
        working-directory: kube-prometheus
      - name: simple test - deploy kepler
        run: make cluster-sync
        env:
            CLUSTER_PROVIDER: ${{matrix.kube_provider}}
            CTR_CMD: docker
      - name: Login to Quay
        if: github.event_name == 'push'
        uses: docker/login-action@v1
        with:
            registry: quay.io/sustainable_computing_io
            username: ${{ secrets.BOT_NAME }}
            password: ${{ secrets.BOT_TOKEN }}      

      - name: push to quay
        if: github.event_name == 'push'
        run: podman push quay.io/sustainable_computing_io/kepler:latest