name: Integration test

on:
  pull_request:

jobs:
  integration_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kube_provider: [kind]
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-go@main
        with:
          go-version: 1.18

      - name: use kepler action for kind cluster build
        uses: sustainable-computing-io/kepler-action@main
        with:
          runningBranch: kind

      - name: simple test - deploy kepler
        run: make cluster-sync
        env:
            CLUSTER_PROVIDER: ${{matrix.kube_provider}}
            IMAGE_REPO: "localhost:5001"
            IMAGE_TAG: "devel"
            CTR_CMD: docker
            CI_ONLY: "true"

      - name: test if kepler is still alive
        run: |
          sleep 60
          kubectl logs $(kubectl -n kepler get pods -oname) -n kepler
          kubectl get all -n kepler

      - name: run integration_test
        run: |
          docker ps -a
          mkdir -p /tmp/.kube
          kind get kubeconfig --name=kind > /tmp/.kube/config
          kubectl port-forward $(kubectl -n kepler get pods -oname) 9102:9102 -n kepler -v7 &
          kubectl logs -n kepler daemonset/kepler-exporter
          kubectl get pods -n kepler -o yaml
          go test -tags=bcc ./e2e/... --race --bench=. -cover --count=1 --vet=all
        env:
            kepler_address: localhost:9102
