name: PR Checks

on: # yamllint disable-line rule:truthy
  pull_request:
    branches: [reboot]

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.filter.outputs.changes }}
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: filter changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            changes:
              - '**/*.go'
              - 'go.mod'
              - 'go.sum'
  fmt:
    needs: check-changes
    if: needs.check-changes.outputs.changes == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod

      - name: make fmt
        shell: bash
        run: make fmt && git diff --exit-code

  lint:
    needs: check-changes
    if: needs.check-changes.outputs.changes == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6
          args: --timeout=3m --issues-exit-code=0 ./...
          only-new-issues: true

  vet:
    needs: check-changes
    if: needs.check-changes.outputs.changes == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod
          cache: false

      - name: make vet
        shell: bash
        run: make vet && git diff --exit-code

  test-and-codecov:
    needs: check-changes
    if: needs.check-changes.outputs.changes == 'true'
    uses: ./.github/workflows/test-and-codecov.yaml

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3

      - name: Setup Pre-Commit
        uses: pre-commit/action@v3.0.1

  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod
          cache: false

      - name: build images for PR checks
        uses: ./.github/publish-image
        with:
          registry: localhost:5001
