name: Push

on: # yamllint disable-line rule:truthy
  push:
    branches: [main]

# default permissions as read only
permissions: read-all

jobs:
  test-and-codecov:
    permissions:
      contents: read
    uses: ./.github/workflows/test-and-codecov.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  scorecard:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: ./.github/workflows/scorecard.yml

  publish:
    if: github.repository_owner == 'sustainable-computing-io'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Additional tags
        id: additional_tags
        shell: bash
        run: |
         echo "result=$(git rev-parse --short HEAD)-$(date +%Y%m%d%H%M%S),latest" >> $GITHUB_OUTPUT

      - name: Build and publish image to external registry
        uses: ./.github/publish-image
        with:
          registry: quay.io/sustainable_computing_io
          username: ${{ secrets.BOT_NAME }}
          password: ${{ secrets.BOT_TOKEN }}
          additional_tags: ${{ steps.additional_tags.outputs.result }}
