name: Push

on: # yamllint disable-line rule:truthy
  push:
    branches: [reboot]

jobs:
  test-and-codecov:
    uses: ./.github/workflows/test-and-codecov.yaml

  publish:
    needs: [codecov-upload]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5.4.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Additional tags
        id: additional_tags
        shell: bash
        run: |
         echo "result=$(git rev-parse --short HEAD)-$(date +%Y%m%d%H%M%S),latest" >> $GITHUB_OUTPUT

      - name: Build and publish image to external registry
        uses: ./.github/publish-image
        with:
          registry: quay.io/sustainable_computing_io
          username: ${{ secrets.BOT_NAME }}
          password: ${{ secrets.BOT_TOKEN }}
          additional_tags: ${{ steps.additional_tags.outputs.result }}
