name: rpm daily

on:
  workflow_call:

jobs:
  build-rpm:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: get git version
        id: git_version
        run: echo "git_version=$(git describe --dirty --tags --always --match='v*' | tr '-' '.')" >> $GITHUB_OUTPUT

      - name: Build RPM packages
        id: rpm_build
        env:
          _VERSION_ : ${{ steps.git_version.outputs.git_version }}
          _RELEASE_: ${{ steps.date.outputs.date }}
          _COMMITTER_: nightly
          _ARCH_: x86_64
        run: |
          make containerized_build_rpm
          make containerized_build_container_rpm
          cd _output/rpmbuild/
          sudo tar czvf /tmp/kepler.rpm.tar.gz RPMS/

      - name: save Kepler image as artifact
        uses: actions/upload-artifact@v4.3.0
        with:
          name: kepler_rpm_${{ steps.git_version.outputs.git_version }}
          path: /tmp/kepler.rpm.tar.gz
          retention-days: 1