name: Unit test

on: # yamllint disable-line rule:truthy
  workflow_call:
    secrets:
      GH_BOT_SECRET:

permissions:
  pull-requests: write
  contents: write
  repository-projects: write
  packages: write

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Get ginkgo
        run: make ginkgo-set
        env:
          GOPATH: /home/runner/go
          GOBIN: /home/runner/go/bin
      - name: Prepare environment
        run: |
          sudo apt-get install -y cpuid clang
          cd doc/ && sudo ./dev/prepare_dev_env.sh && cd -
          git config --global --add safe.directory /kepler
      - name: install libbpf
        uses: sustainable-computing-io/kepler-action@v0.0.7
        with:
          ebpfprovider: libbpf
      - name: Run
        run: |
          sudo apt remove libbpf-dev
          mkdir temp-libbpf
          cd temp-libbpf
          git clone https://github.com/libbpf/libbpf
          cd libbpf/src
          sudo make install_headers
          sudo make install_uapi_headers
          sudo prefix=/usr  BUILD_STATIC_ONLY=y make install
          cd ../../../
          make VERBOSE=1 test
          go tool cover -func=coverage.out -o=coverage.out

      - name: Upload coverage reports to Codecov
        if: github.event_name != 'pull_request'
        uses: codecov/codecov-action@v4.0.1
        with:
          fail_ci_if_error: false # because codecov updates occasionally fail
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
